@import url("/css/fontFace.css");

body {
  margin: 0 auto;
  font-family: Roboto;
  font-weight: 400;
  min-width: 375px;
  max-width: 990px;
}
.img-8,
.img-14,
.img-20 {
  padding-bottom: 5rem;
}

.layout-content {
  text-align: center;
  margin: 0 auto;
}

.image-content {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.logo {
  margin-top: 20px;
  margin-bottom: 200px;
}

.image-top {
  display: block;
  margin: auto;
}

.image1 {
  margin-top: -15px;
}

.image-cover {
  width: 75%;
  margin: 0 auto;
}
.full-image {
  text-align: center;
  display: grid;
}
.content-absolute {
  width: 100%;
  padding: 10px 0 12px 0;
}

.text-content {
  text-align: center;
  float: right;
  padding-left: 5px;
  padding-right: 5px;
  height: 18px;
  background-color: transparent;
  border-radius: 5px;
  margin-right: 6px;
  font-weight: 300;
  color: #000;
  font-size: 10.5px;
  font-family: system-ui;
}
.end-line {
  margin-top: 5px;
  margin-bottom: 0;
}
.name-tag {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  font-size: 12px;
  margin-bottom: 2px;
  margin-top: 2px;
}
.sub-name-tag {
  margin-right: 6px;
}

.image-btn {
  width: 100%;
  border-radius: 9999px;
  border-color: #faa904;
  font-size: 67px;
  font-weight: 900;
  color: #fff;
  background-color: #faa904;
  font-family: "Supra";
  display: flex;
  justify-content: center;
  align-items: center;
}

.taga {
  text-decoration: none;
}

.text-button {
  filter: drop-shadow(0.03em 0.03em 0.07em rgba(0, 0, 2, 5));
}

.text-absolute {
  margin: 0 auto;
  margin-top: 1px;
  font-family: system-ui;
}

.child-layout-footer {
  background-color: #000;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 35px;
}

.layout-cta {
  padding-bottom: 19vw;
  background-size: cover;
}

.text-content-cta {
  font-style: normal;
  font-weight: 700;
  font-family: system-ui;
  text-shadow: -0.2vw 0 #fff, 0 0.4vw #fff, 0.4vw 0 #fff, 0 -0.2vw #fff;
}

.layout {
  font-family: system-ui;
  font-style: italic;
  text-align: center;
  font-size: 6.95vw;
  color: #ff0080;
  margin: 0 auto;
}

.content-cta {
  padding-top: 13.6vw;
}

.textButton {
  text-align: center;
  font-style: italic;
  color: #ffffff;
}

.text-bold-info {
  font-weight: 700;
}

.text-italic-bold {
  color: #ffa904;
  font-style: nomal;
  font-weight: 700;
  font-family: Roboto;
}

.layoutInfo {
  font-family: Roboto;
  text-align: center;
  font-size: 6.95vw;
}

.layoutFooter {
  font-style: italic;
  font-weight: 400;
  background-color: #000;
  text-align: center;
  font-size: 4.5334vw;
  color: #ffffff;
  background-size: cover;
  font-family: Roboto;
  max-width: 990px;
  font-size: 45px !important;
  max-width: 990px !important;
  padding-bottom: 350px;
}

.text-content-footer {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
}

.text-content-sub-footer {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.text-bold-footer {
  color: #ffa903;
}

.text-footer {
  font-size: 4.5334vw;
  font-style: italic;
  font-weight: 500;
  font-family: Roboto;
  margin-bottom: 11.47vw;
}

.btn {
  position: relative;
  cursor: pointer;
  display: block;
  margin: 10px auto 0;
  color: #fff;
  font-size: 1.5em;
  transition: 0.3s;
  height: 12.8vw;
  border-radius: 15px;
  width: 49.4vw;
}

.btn-root {
  margin-bottom: 1.8vw;
  margin-top: 3.263vw;
  height: 12vh;
}

.btn-root:hover .btn {
  transform: translate3d(0, 7px, 0);
  color: transparent;
  box-shadow: none;
  background: transparent;
}

.image-btn {
  height: 12.8vw;
  z-index: 100;
}

.btn-top {
  z-index: 10;
  position: absolute;
  width: 100%;
}

.btn-root:hover .btnBack {
  background-color: transparent;
  transform: translate3d(-5px, -5px, -5px);
}

.content-info {
  text-align: center;
  margin-top: 10vw;
}

.image-content-info {
  height: 32.55vw;
}

.image-logo {
  margin-top: 5px;
  width: 17.34vw;
}

/* .btn-root-footer {
  margin-bottom: 13.34vw;
  margin-top: 9.135vw;
} */

.swiper-container {
  height: 30.54vw;
  padding-bottom: 6.65vw;
  margin: 0 auto;
}

.swiper-button-next:after {
  font-size: 6.2vw;
  font-style: normal;
  color: #ff0080;
  margin-top: -4vw;
  font-weight: 700;
}

.swiper-button-prev:after {
  font-size: 6.2vw;
  font-style: normal;
  color: #ff0080;
  margin-top: -4vw;
  font-weight: 700;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: 2.7vw;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 2.7vw;
}

.image-slide {
  width: 21.34vw;
  height: 30vw;
}

.image-slide-center {
  width: 21.34vw;
  height: 30vw;
  margin-left: 1.6vw;
  margin-right: 1.6vw;
}

@media (min-width: 991px) {
  .box-razzmatazz {
    margin-top: -15px;
  }

  .text-absolute {
    margin: 0 auto;
    margin-top: 2.5px;
    font-family: Roboto;
  }

  .layout {
    font-size: 69px;
  }

  .image-content {
    margin-bottom: 15px !important;
  }

  .content-absolute {
    max-width: 990px;
    margin: 0 auto;
    margin-top: -27px;
    margin-bottom: 3px;
  }

  .image-btn {
    width: 565px;
    height: 128px !important;
  }

  .btnBack {
    width: 565px !important;
    height: 138px !important;
    border-radius: 30px !important;
  }

  .btn {
    width: 565px !important;
    height: 138px !important;
  }

  .layoutInfo {
    font-size: 69px !important;
  }

  .content-info {
    margin-top: 108px !important;
  }

  .image-content-info {
    height: 322.5px !important;
  }

  .image-logo {
    margin-top: 5px;
    width: 210px !important;
  }

  .text-footer {
    font-size: 45px;
    margin-bottom: 107px;
  }

  .image-slide {
    width: 221.5px;
    height: 297px;
  }

  .image-slide-center {
    width: 221.5px;
    height: 297px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .swiper-container {
    height: 303px;
    padding-bottom: 66px;
    margin: 0 auto;
  }

  .swiper-button-next:after {
    font-size: 61.38px;
    margin-top: -22px;
  }

  .swiper-button-prev:after {
    font-size: 61.38px;
    margin-top: -22px;
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: 39.6px;
  }

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: 39.6px;
  }
}

@media only screen and (max-width: 989px) {
  .content-absolute {
    width: 100%;
    margin-top: -11.5px;
    position: absolute !important;
  }
  .text-button {
    font-size: 43px;
  }
}

@media only screen and (max-width: 768px) {
  .layoutFooter {
    padding-bottom: 300px;
  }
  .text-button {
    font-size: 43px;
  }
  .logo {
    margin-top: 0;
    margin-bottom: 100px;
  }
}


@media only screen and (max-width: 618px) {
  .content-absolute {
    width: 100%;
    margin-top: -11.5px;
    position: absolute !important;
  }
  .layoutFooter {
    padding-bottom: 150px;
  }

  .text-content-footer {
    font-size: 24px;
  }
  .text-content-sub-footer {
    font-size: 18px;
  }
  .text-button {
    font-size: 23px;
  }
}

@media only screen and (max-width: 375px) {
  .image-top {
    width: 76%;
  }
  .text-button {
    font-size: 20px;
  }
  .logo {
    margin-top: 0;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 320px) {
  .text-button {
    font-size: 17px;
  }
}
